@{
    ViewBag.Title = "About";
}
<h1>Shanu Profile Image ..
      
     <img src="@Url.Action("ProfilePhotos", "Home" )"  style="width:160px;height:160px; background: #FFFFFF;  
    margin: auto;
    -moz-border-radius: 60px;
    border-radius: 100px;
    padding: 6px;
    box-shadow: 0px 0px 20px #888;" />
    </h1>
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
