@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <div class="navv navbar-nav navbar-right">        
        <li>@Html.ActionLink("Lecture Profile", "LecturerProfile", "Account")</li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </div>
    }
}
else
{
    <div class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Lecturer Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Lecturer Login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </div>
}
